body {
    margin: 0px;
    font-family: "SoDo Sans SemiBold";
    font-weight: 400;
}

/* Header */

header {
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.25);
}

 nav {
    width: 1650px;
    display: flex;
    justify-content: space-between;
 }

#navbar-left {
    height: 100px;
    display: flex;
    align-items: center;
}

#navbar-left svg {
    width: 50px;
}

#navbar-left ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}

#navbar-left li {
    display: inline-block;
    margin-left: 20px;
    font-weight: 700;
    font-size: 16px;
}

#navbar-left li:hover {
    color: #006341;
    cursor: pointer;
}

#navbar-right {
    height: 100px;
    display: flex;
    align-items: center;
}

#navbar-right svg {
    width: 50px;
}

#find-a-store {
    display: flex;
    align-items: center;
}

#find-a-store:hover {
    color:#006341;
    cursor: pointer;
}

#navbar-right button{
    display: inline-block;
    margin-left: 20px;
    padding: 5px 20px;
    font-weight: 700;
    font-size: 16px;
}

#sign-in {
    border: solid black 1px;
    border-radius: 40px;
}

#sign-in:hover {
    cursor: pointer;
}

#join-now {
    border: solid black 1px;
    border-radius: 40px;
    background-color: black;
    color: white;
    transition: background-color 0.2s ease;
}

#join-now:hover {
    background-color: rgba(0,0,0,0.7);
    cursor: pointer;
}

/* Header End */

/* Main */

main {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#section-one {
    margin: 30px 0; 
    width: 1435px;
    display: flex;
    flex-direction: row;
}

#section-two {
    width: 1435px;
    display: flex;
    flex-direction: row;
}

#section-three {
    width: 1435px;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

#section-four {
    width: 1435px;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.image-container {
    width: 50%;
}

.image-container img{
    background-color: #d4e9e2;
    height: 100%;
    width: 100%;
}

.section-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #d4e9e2;
}

#section-one h1{
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    color: #1e3932;
    margin: 120px 0 0 0;
}

#section-one p{
    text-align: center;
    width: 75%;
    font-size: 19px;
    font-weight: 0;
    line-height: 36px;
    color: #1e3932;
    margin-bottom: 30px;
}

#section-one button {
    background-color: #d4e9e2;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 7px 16px;
    width: 15%;
    border: solid #1e3932 1px;
    border-radius: 50px;
    transition: background-color 0.2s ease;
}

#section-one button:hover {
    background-color: rgba(30,57,50,.1);
    cursor: pointer;
}

#section-two h1{
    width: 64%;
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    color: #1e3932;
    margin: 140px 0 0 0;
}

#section-two p{
    width: 69%;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #1e3932;
    margin-bottom: 30px
}

#section-two button {
    background-color: #d4e9e2;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 7px 16px;
    border: solid #1e3932 1px;
    border-radius: 50px;
    transition: background-color 0.2s ease;
}

#section-two button:hover {
    background-color: rgba(30,57,50,.1);
    cursor: pointer;
}

#section-three-text-container {
    background-color: #006241;
}

#section-three h1{
    width: 70%;
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    color: #ffffff;
    margin-top: 175px;
    margin-bottom: 0px;
}

#section-three p{
    width: 70%;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #ffffff;
    margin-top: 20px;
}

#section-three button {
    background-color: #006241;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 7px 16px;
    border: solid #ffffff 1px;
    border-radius: 50px;
    transition: background-color 0.2s ease;
    margin-top: 10px;
}

#section-three button:hover {
    /* background-color: #00754a; */
    background-color: hsla(0,0%,100%,.12);
    cursor: pointer;
}

#section-four-text-container {
    background-color: #f4f3ee;
}

#section-four h1{
    width: 75%;
    text-align: center;
    font-size: 24px;
    font-weight: 600px;
    line-height: 36px;
    color: #1e3932;
    margin: 80px 0 0 0;
}

#section-four p{
    text-align: center;
    width: 75%;
    font-size: 19px;
    font-weight: 0;
    line-height: 36px;
    color: #1e393e;
    margin-bottom: 30px;
}

#section-four button {
    background-color: #f4f3ee;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 7px 16px;
    border: solid #1e3932 1px;
    border-radius: 50px;
    transition: background-color 0.2s ease;
}

#section-four button:hover {
    background-color: rgba(30,57,50,.1);
    cursor: pointer;
}

/* Main End */