body {
    margin: 0px;
    font-family: "SoDo Sans SemiBold";
    font-weight: 400;
}

/* Header */

header {
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.25);
}

 nav {
    width: 1650px;
    display: flex;
    justify-content: space-between;
 }

#navbar-left {
    height: 100px;
    display: flex;
    align-items: center;
}

#navbar-left svg {
    width: 50px;
}

#navbar-left ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}

#navbar-left li {
    display: inline-block;
    margin-left: 20px;
    font-weight: 700;
    font-size: 16px;
}

#navbar-left li:hover {
    color: #006341;
    cursor: pointer;
}

#navbar-right {
    height: 100px;
    display: flex;
    align-items: center;
}

#navbar-right svg {
    width: 50px;
}

#find-a-store {
    display: flex;
    align-items: center;
}

#find-a-store:hover {
    color:#006341;
    cursor: pointer;
}

#navbar-right button{
    display: inline-block;
    margin-left: 20px;
    padding: 5px 20px;
    font-weight: 700;
    font-size: 16px;
}

#sign-in {
    border: solid black 1px;
    border-radius: 40px;
}

#sign-in:hover {
    cursor: pointer;
}

#join-now {
    border: solid black 1px;
    border-radius: 40px;
    background-color: black;
    color: white;
    transition: background-color 0.2s ease;
}

#join-now:hover {
    background-color: rgba(0,0,0,0.7);
    cursor: pointer;
}

/* Header End */

/* Main */

main {
    display: flex;
    justify-content: center;
}

#section-one {
    margin: 30px 0; 
    width: 1650px;
    display: flex;
    flex-direction: row;
}

.image-container {
    width: 50%;
}

.image-container img{
    width: 100%;
}

.section-text-container {
    display: flex;
    width: 50%;
    background-color: #d4e9e2;
    justify-content: center;
}

.section-text {
    display: flex;
    flex-flow: column;
    width: 70%;
    align-items: center;
}

.section-text h1{
    font-size: 24px;
    font-size: 24px;
    line-height: 36px;
    color: #1e3932;
    margin: 110px 0 30px 0;
}

.section-text p{
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    line-height: 36px;
    color: #1e3932;
    margin: 0 0 30px 0;
}

.section-text button {
    background-color: #d4e9e2;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 7px 16px;
    border: solid #1e3932 1px;
    border-radius: 50px;
    transition: background-color 0.2s ease;
}

.section-text button:hover {
    background-color: rgba(30,57,50,.1);
}



/* Main End */